/*Whole document styling*/
a {
	text-decoration: none;
}

body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    background-color: #F5FCFF;
}

li {
	padding-top: 0px;
	padding-bottom: 6px;
	background-color: #eaeaea;
    margin-bottom: 4px;
    border-radius: 15px;
    overflow: hidden;
}

ul {
	list-style-type: none;
	width: 80%;
	display: inline-block;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

ul div {
	padding-left: 5px;
}

.page-number {
	font-size: 24px;
}


.small-text {
	font-size: 10px;
}

#rails-issues-app {
	text-align: center;
}

#title {
	text-align: center;
	font-size: 30px;
	margin-top: 4px;

}


/*Github Issues List*/
.issue-header { /* div holding the header of an issue */
	width: 100%;
	height: 30px;
	padding-left: 0px;	/* Overwrite ul div styling */
	vertical-align: middle;
	background-color: #fababa;
}

.issue-info-container {
    vertical-align: middle;
    display: table-cell;
    margin-left: 3px;
    height: inherit;
}

.issue-title-text {
	font-weight: bold;
	clear: left;
	margin-left: 3px;
}

.issue-summary {
	margin-top: 4px;
}

.label {
	margin-left: 3px;
	margin-right: 3px;
	font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 2px;
}

.label-container {
	float:right;
	vertical-align: middle;
}

.user-avatar {
	height: 30px;
	width: 30px;
	float: left;
}

.short-issue:hover, .short-issue:hover .issue-header { /* list item hover - will also change color of children on hover*/
	background: #aaa;
  	cursor: pointer;
}


/*Detailed Issue View*/
.issue-state {
	font-size: 24px;
	color: #fff;
    text-align: center;
    padding: 2px;
}

.comment-header {
	width: 100%;
	height: 30px;
	padding-left: 0px;	/* Overwrite ul div styling */
	vertical-align: middle;
	background-color: #4aaaea;
}


/*BUTTONS*/
.back-btn {
	float: center;
}

.btn {
	font-size: 150%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    background-color: #fb0491;
}

.btn:hover {
	background-color: #4be491;
	cursor: pointer;
}

.btn-container {
	margin-bottom: 4px;
	margin-top: 4px;
	width: 80%;
	display: inline-block;
}

.back-btn-container {
	width: 100%;
	text-align: center;
}

.next-btn {
	float: right;
}

.prev-btn {
	float: left;
}